.nav{
    min-height: 40px;
}
.navbar{
    margin-bottom: 0px;
}
.nav > li > a {
  position: relative;
  display: block;
  padding: 15px 10px;
}
.row-blue{
    background-color: rgba(116, 190, 255, 0.10);
    height: auto;
}
.row-green{
    background-color: rgba(0, 128, 0, 0.10);
    height: auto;
}
video {
  width: 100%    !important;
  height: auto   !important;
}
footer{
    background-color: #337ab7;
    min-height: 100px;
    text-align: center;
}
.nav-tabs{
    border: 0px;
    font-size: 10px;
    
}
.no-js #loader {
    display: none;
}
.js #loader {
    display: block;
    position: absolute;
    left: 100px;
    top: 0;
}
.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(../images/preloader.gif) center no-repeat #fff;;
}